

//maincolor
$mainBlue400: #4737f1;
$mainBlue500: #1500ED;
$mainBlue700: #1c1380;
$mainBlue800: #100c41;

$lilac500: #9cafff;

//beige

$beige400: #fbeadd;
$beige500: #FAE3D3;

//Neutrals
$Neutral0: #FFFFFF;
$Neutral50: #F5F7FA;
$Neutral100: #F3F5F8;
$Neutral200: #E0E4EA;
$Neutral300: #CACFD8;
$Neutral400: #99A0AE;
$Neutral500: #717784;
$Neutral600: #525866;
$Neutral700: #2B303B;
$Neutral800: #232530;
$Neutral900: #191B25;
$Neutral950: #0E121B;